body {
    background-color: #0D6EFD;
    font-family: 'Oswald';
    margin: 0 auto;
}

h2 {
    color: #F4F5F6;
}

button {
    font-family: 'Oswald';
}

.top-header {
    margin: 0;
    height: 30%;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

.section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D6EFD;
}

.logo {
    margin-left: 10%;
}

.admin-button {
    font: 'Oswald';
    color: #F4F5F6;
    margin-right: 10%;
    width: 90px;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #F4F5F6;
    background-color: transparent;
}

.first-isi {
    z-index: 5;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
}

.img-first-isi {
    padding-top: 5%;
    z-index: 2;
    max-width: 100%;
    height: 100%;
}

.isi-text-dalam-first-isi {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.img-di-first-isi {
    background-color: #0D6EFD;
    margin: 0;
    padding: 0;
}

.user-button {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.petugas {
    background-color: #0D6EFD;
    color: #fff;
    width: 270px;
    height: 70px;
    font-size: 20px;
    border-radius: 100px;
    border: 0;
    margin: 10px;
}

.warga {
    background-color: #198754;
    color: #fff;
    width: 270px;
    height: 70px;
    font-size: 20px;
    border-radius: 100px;
    border: 0;
    margin: 10px;
}

.text-dalam-first-isi {
    flex-direction: row;
}


.text-first-isi {
    color: #000000;
    font-size: 86px;
    text-align: center;
    font-weight: bold;
    font-family: 'Oswald';
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

.text-first-isi1 {
    color: #000000;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Oswald';
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

.bottom {
    padding-top: 30px;
    height: 70px;
    width: 100%;
    background-color: #0D6EFD;
    text-align: center;
    margin: 0;
}

.section-bottom {
    color: #F4F5F6;
    font-size: 18px;
    font-weight: bold;
    font: 'Oswald';
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.loginpetugas {
    font-family: 'Oswald';
    border: 1.5px;
    border-style: solid;
    border-color: #000;
    border-radius: 15px;
    display: none;
    position: fixed;
    z-index: 1;
    width: 410px;
    height: 500px;
    overflow: auto;
    background-color: #FFFFFF;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.header-login-petugas {
    margin-top: 5%;
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-top-login-petugas {
    font-weight: bold;
    margin-left: 5%;
    font-size: 28px;
}

.label-login {
    opacity: 70%;
    font-size: 24px;
    display: flex;
    align-items: start;
}

.input-login {
    width: 95%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.5px;
}

.button-cancel {
    z-index: 5;
    margin-right: 5%;
    padding-top: 1.5%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: transparent;
    background-color: transparent;
}

.from-login-petugas {
    border: 2px #332e2e;
    border-bottom-style: solid;
    border-top-style: solid;
    padding-left: 5%;
    padding-right: 10%;
}

.text-from-login-email-petugas {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

.text-from-login-password-petugas {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    border: 2px #332e2e;
}

.button-from-login-petugas {
    text-decoration: none;
    margin-bottom: 7%;
    margin-right: 10%;
    width: 150px;
    height: 45px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #0D6EFD;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
}



.note-login-petugas {
    opacity: 0.8;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10%;
    margin-top: 7%;
    text-align: right;
}

.text-button-login-petugas{
    display: inline-block;
    color: #FFFFFF; 
    text-decoration: none; 
    border: none; 
    cursor: pointer; 
}